<app-flipper #flipper>
  <ng-container front>
    <div class="todo" [class.completed]="todo.completed">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ todo.title }}</mat-card-title>
          <button
            mat-icon-button
            color="accent"
            [matMenuTriggerFor]="menu"
            class="todo-actions"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [disabled]="todo.completed" (click)="onComplete()">
              <mat-icon [color]="!todo.completed && 'primary'">check_box</mat-icon>
              Complete
            </button>
            <button mat-menu-item (click)="flipper.flipToBack()">
              <mat-icon color="primary">edit</mat-icon>
              Edit
            </button>
            <button mat-menu-item (click)="onDelete()">
              <mat-icon color="warn">restore_from_trash</mat-icon>
              Delete
            </button>
          </mat-menu>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ todo.description }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  <ng-container back>
    <app-edit-todo
      [todo]="todo"
    ></app-edit-todo>
  </ng-container>
</app-flipper>
