<div class="todos column">
  <header class="todos__header">
    <app-todo-actions
      (filter)="filter($event)"
      (deleteAll)="onDeleteAll()"
      (deleteAllCompleted)="onDeleteAllCompleted()"
      (markAllAsCompleted)="onMarkAllAsCompleted()"
    ></app-todo-actions>
  </header>
  <main class="todos__container">
    <app-todo-list
      *ngIf="!isLoading; else loader"
      [todos]="filteredTodos"
      (creteTodo)="onCreate($event)"
      (completeTodo)="onComplete($event)"
      (deleteTodo)="onDelete($event)"
    ></app-todo-list>
  </main>
</div>

<ng-template #loader>
  <div class="spinner-wrapper">
    <mat-spinner
      color="accent"
      [diameter]="30"
    ></mat-spinner>
  </div>
</ng-template>
