@import 'src/styles';

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

  /* Do an horizontal flip when you move the mouse over the flip box container */
  &.trigger-on-click .flip-card-inner,
  &.trigger-on-hover:hover .flip-card-inner {
    transform: rotateY(180deg);

    .flip-card-front {
      z-index: -5;
    }
  }

  /* This container is needed to position the front and back side */
  &-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(0);
  }

  &-front, &-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  &-front {
    position: relative;
  }

  /* Style the back side */
  &-back {
    position: absolute;
    top: 0;
    background-color: $white;
    transform: rotateY(180deg);
  }
}

.flip-back-btn {
  position: absolute;
  top: 0;
  right: 1rem;
}
