<div
  class="flip-card"
  [class.trigger-on-click]="isFlipped"
  [class.trigger-on-hover]="triggerByHover"
>
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <ng-content select="[front]"></ng-content>
    </div>
    <div class="flip-card-back">
      <ng-content select="[back]"></ng-content>
      <button mat-icon-button class="flip-back-btn" (click)="flipToFront()">
        <mat-icon color="accent">
          3d_rotation
        </mat-icon>
      </button>
    </div>
  </div>
</div>
