.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

@mixin gap($gap: 10) {
  gap: $gap + px;
}
