<nav class="todo-actions">
  <div class="buttons">
    <button mat-button color="warn" (click)="deleteAll.emit(true)">Delete All</button>
    <button mat-button color="warn" (click)="deleteAllCompleted.emit(true)">Delete All Completed</button>
    <button mat-button (click)="markAllAsCompleted.emit(true)">Mark All As Completed</button>
  </div>

  <div class="filter" [formGroup]="filterForm">
    <mat-form-field class="filter-input">
      <mat-label>Filter By Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filter By Status</mat-label>
      <mat-select formControlName="status">
        <mat-option [value]="">None</mat-option>
        <mat-option [value]="true">Completed</mat-option>
        <mat-option [value]="false">In Progress</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</nav>
