<div class="todo-list flex-start row">
  <app-todo
    *ngFor="let todo of todos"
    [todo]="todo"
    (completeTodo)="onComplete($event)"
    (deleteTodo)="onDelete($event)"
  ></app-todo>
  <app-flipper #flipper class="flex-center todo-list__add">
    <ng-container front>
      <button mat-button (click)="flipper.flipToBack()" class="todo-list__add-btn">
        <mat-icon>add</mat-icon>
      </button>
    </ng-container>
    <ng-container back>
      <app-create-todo
        (createTodo)="onCreate($event)"
      ></app-create-todo>
    </ng-container>
  </app-flipper>
</div>
